<app-search-panel (onKeyUp)="searchByName($event)"></app-search-panel>
<div class="game-list-caption">Most Popular {{counter}}</div>
<div class="game-list-container">
  <ng-container *ngIf="publicGames">
    <app-game-card *ngFor="let game of publicGames" [game]="game"></app-game-card>
  </ng-container>
  <ng-container *ngIf="!publicGames">
    <app-spinner></app-spinner>
  </ng-container>
</div>