:host 
  display: block
  padding: 20px
  box-sizing: border-box

.game-list-container
  display: flex
  flex-wrap: wrap
  position: relative
  min-height: 200px

.game-list-caption
  padding-left: 10px
  padding-right: 10px

@media screen and (max-width: 1180px)
  .game-list-container
    justify-content: space-between

@media screen and (max-width: 740px)
  .game-list-container
    justify-content: center