<div class="card">
  <div class="card__container">
    <div class="card__front">
      <img [src]="game.imageUrl.stringValue" [alt]="game.name.stringValue">
    </div>
    <div class="card__back">
      <span>{{game.name.stringValue}}</span>
    </div>
  </div>
  <div class="card__title">
    {{game.name.stringValue}}
  </div>
</div>