.card
  margin: 10px
  border: 1px solid #fff

  &__container
    position: relative
    height: 200px
    width: 200px
    perspective: 1000px

  &__front, &__back 
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    display: flex
    justify-content: center
    align-items: center
    transition: 1s
    backface-visibility: hidden
    background-color: orange

  &__front img 
    max-width: 100%
    min-width: 100%
    height: auto

  &__back
    transform: rotateY(180deg)

  &:hover 
    .card__front
      transform: rotateY(180deg)
    .card__back
      transform: rotateY(360deg)

  &__title
    background-color: #3399fe
    color: #ffffff
    text-align: center
    padding: 10px