<form class="form-inline">
  <div class="form-group mb-2">
    <input 
      type="search" 
      class="form-control" 
      id="inputSearch" 
      placeholder="Search game"
      [(ngModel)]="searchValue"
      [ngModelOptions]="{standalone: true}"
      (keyup)="search()"
    >
  </div>
  <button type="submit" class="btn btn-primary mb-2" (click)="search()">Search</button>
</form>