<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fake data</title>
</head>
<body>
  <!-- Emmet command for creating json body objects: -->
  <!-- {{"id": "$", "name": "Game $", "imageUrl": "assets/images/game$.jpg"},}*99 -->

  <!-- script for getting random pictures -->
  <script>
    var amount = 100;
    function getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max));
    }
    for (let i = 0; i < amount; i++) {
      var body = document.querySelector("body");
      body.innerHTML += `<img src="https://loremflickr.com/200/200/game/?gdf=${getRandomInt(999999999)}" alt="">`;
    }
    console.log("done: ", amount + " images");
  </script>

  <!-- Window app for renaming images: Advanced Renamer -->
</body>
</html>