:host 
  display: flex
  align-items: center
  align-content: center
  justify-content: center
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  z-index: 2

.spinner-container
  background-color: red